#  IMDB Movie (Sentimental Analysis)

## Extracting Files

In [20]:
import os
import numpy as np
import pandas as pd
import re

TRAIN_POS_PATH =(r'C:/Users/Sanjay/Desktop/IMDB/aclImdb/train/pos/')
TRAIN_NEG_PATH = (r'C:/Users/Sanjay/Desktop/IMDB/aclImdb/train/neg/')
TEST_POS_PATH = (r'C:/Users/Sanjay/Desktop/IMDB/aclImdb/test/pos/')
TEST_NEG_PATH = (r'C:/Users/Sanjay/Desktop/IMDB/aclImdb/test/neg/')

In [17]:
df_pos_train = pd.DataFrame()
text = []
sentiment = []

for filename in os.listdir(TRAIN_POS_PATH):
    if filename.endswith('.txt'):
        with open(os.path.join(TRAIN_POS_PATH,filename),"r",encoding='utf-8',errors='ignore') as f:
            text.append(f.read())
        sentiment.append(1)

In [18]:
df_pos_train['Text'] = pd.Series(text)
df_pos_train['Sentiment'] = pd.Series(sentiment)

In [19]:
df_pos_train.head()

                                                Text  Sentiment
0  Bromwell High is a cartoon comedy. It ran at t...          1
1  Homelessness (or Houselessness as George Carli...          1
2  Brilliant over-acting by Lesley Ann Warren. Be...          1
3  This is easily the most underrated film inn th...          1
4  This is not the typical Mel Brooks film. It wa...          1

In [21]:
df_neg_train = pd.DataFrame()
text = []
sentiment = []

for filename in os.listdir(TRAIN_NEG_PATH):
    if filename.endswith('.txt'):
        with open(os.path.join(TRAIN_NEG_PATH,filename),"r",encoding='utf-8',errors='ignore') as f:
            text.append(f.read())
        sentiment.append(0)

In [22]:
df_neg_train['Text'] = pd.Series(text)
df_neg_train['Sentiment'] = pd.Series(sentiment)

In [23]:
len(df_neg_train)

12500

In [24]:
df_pos_test = pd.DataFrame()
text = []
sentiment = []

for filename in os.listdir(TEST_POS_PATH):
    if filename.endswith('.txt'):
        with open(os.path.join(TEST_POS_PATH,filename),"r",encoding='utf-8',errors='ignore') as f:
            text.append(f.read())
        sentiment.append(1)

In [26]:
df_pos_test['Text'] = pd.Series(text)
df_pos_test['Sentiment'] = pd.Series(sentiment)

In [27]:
df_neg_test = pd.DataFrame()
text = []
sentiment = []

for filename in os.listdir(TEST_NEG_PATH):
    if filename.endswith('.txt'):
        with open(os.path.join(TEST_NEG_PATH,filename),"r",encoding='utf-8',errors='ignore') as f:
            text.append(f.read())
        sentiment.append(0)

In [28]:
df_neg_test['Text'] = pd.Series(text)
df_neg_test['Sentiment'] = pd.Series(sentiment)

In [29]:
len(df_neg_test)

12500

In [31]:
df_pos_train.to_csv("train_pos.csv",sep='\t')
df_neg_train.to_csv("train_neg.csv",sep='\t')
df_pos_test.to_csv("test_pos.csv",sep='\t')
df_neg_test.to_csv("test_neg.csv",sep='\t')

## Reading all the DataSets

In [41]:
import numpy as np
import pandas as pd

pos_train_data = pd.read_csv('train_pos.csv',sep = '\t',index_col = False)
neg_train_data = pd.read_csv('train_neg.csv',sep = '\t',index_col = False)
pos_test_data = pd.read_csv('test_pos.csv',sep = '\t',index_col = False)
neg_test_data = pd.read_csv('test_neg.csv',sep = '\t',index_col = False)

In [45]:
pos_train_data = pos_train_data[['Text','Sentiment']]
neg_train_data = neg_train_data[['Text','Sentiment']]
pos_test_data = pos_test_data[['Text','Sentiment']]
neg_test_data = neg_test_data[['Text','Sentiment']]

### Combing  All Train Data (Pos & Neg)

In [46]:
train_df = pd.concat([pos_train_data, neg_train_data],axis=0, ignore_index=True)
train_df.shape

(25000, 2)

Shuffle the rows of the dataframe so that there is a random mix of postive and negative reviews.

In [47]:
train_df = train_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [48]:
train_df.head()

                                                Text  Sentiment
0  In Panic In The Streets Richard Widmark plays ...          1
1  If you ask me the first one was really better ...          0
2  I am a big fan a Faerie Tale Theatre and I've ...          1
3  I just finished reading a book about Dillinger...          0
4  Greg Davis and Bryan Daly take some crazed sta...          0

In [49]:
test_df = pd.concat([pos_test_data, neg_test_data],axis=0, ignore_index=True).sample(frac=1, random_state=42).reset_index(drop=True)

In [50]:
test_df.head()

                                                Text  Sentiment
0  When I was a kid, I loved "Tiny Toons". I espe...          1
1  The setup for "Nature of the Beast" is ingenio...          0
2  I do not have much to say than this is a great...          1
3  Extremely formulaic with cosmic-sized logic ho...          0
4  I actually liked certain things about this gam...          0

In [53]:
y_test = test_df.Sentiment
test_df = test_df.drop('Sentiment',axis=1)
test_df.head()

                                                Text
0  When I was a kid, I loved "Tiny Toons". I espe...
1  The setup for "Nature of the Beast" is ingenio...
2  I do not have much to say than this is a great...
3  Extremely formulaic with cosmic-sized logic ho...
4  I actually liked certain things about this gam...

In [56]:
train_reviews = train_df.Text
test_reviews = test_df.Text

## Text cleaning
1)Remove stopwords

2)Convert to lowercase and remove numbers and punctuations

3)Keep only those words that are 3 characters or more in length

4)Lemmatize the words with their appropriate part-of-speech

In [62]:
from nltk.corpus import stopwords, wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, RegexpTokenizer 

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [63]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()
tokenizer = RegexpTokenizer(r'([a-zA-Z]+)') 



def get_wordnet_pos(word):
    tag = pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

def preprocess_text(review):
    '''
    This function preprocesses the comments and sets them up for vectorization.
    Input: comment string
    Returns: A string after converting the words to lowercase, removing punctuations, and lemmatizing each word
    '''
    words = [word for word in tokenizer.tokenize(review.lower()) if not word in stop_words]  # convert to lowercase and remove stopwords
    clean_words = [word for word in words if len(word)>2]
    lemmatized_review = ' '.join([lemmatizer.lemmatize(word,pos= get_wordnet_pos(word)) for word in clean_words]) ## lemmatization
    return lemmatized_review

In [64]:
# Apply the preprocessing steps to the train and test reviews
train_reviews = train_reviews.apply(lambda review: preprocess_text(review))
test_reviews = test_reviews.apply(lambda review: preprocess_text(review))

### Vectorization

In [65]:
tfidf_vectorizer = TfidfVectorizer(analyzer='word', min_df=5, max_df = 0.6, 
                                   ngram_range=(1, 2), sublinear_tf=True, max_features=40000)

In [66]:
train_features = tfidf_vectorizer.fit_transform(train_reviews)
test_features = tfidf_vectorizer.transform(test_reviews)

In [67]:
train_features.shape

(25000, 40000)

In [68]:
feature_names = tfidf_vectorizer.get_feature_names()

### Top tokens by tf-idf scores

In [69]:
tfidf_scores = np.sum(train_features.A, axis=0,keepdims=False)
p=[]
for tag, tfidf_score in zip(feature_names, tfidf_scores):
    p.append((tag, tfidf_score))
    
tfidf_scores_df = pd.DataFrame(p,columns=['token', 'tf-idf score']).sort_values(by = 'tf-idf score', ascending=False)
tfidf_scores_df.head() ## top 5 tokens in the corpus by tf-idf score

      token  tf-idf score
11543  film    659.847469
24825   one    502.691351
20672  make    467.155687
30678   see    459.564831
19281  like    459.401386

In [71]:
y_train = train_df['Sentiment']

In [72]:
def grid_search(clf, parameters, X, y, n_jobs=-1, n_folds=5, score_func=None,verbose=0):
    if score_func:
        gs = GridSearchCV(clf, param_grid=parameters, cv=n_folds, n_jobs=n_jobs, scoring=score_func,verbose =verbose)
    else:
        gs = GridSearchCV(clf, param_grid=parameters, cv=5, verbose =verbose)
    gs.fit(X, y)
    print ("Best parameter values: {} and best score = {}".format(gs.best_params_ , gs.best_score_))
    best = gs.best_estimator_
    return best

### Multinomial Navie Baies

In [73]:
clf_mulNB = MultinomialNB()
parameters = {'alpha': np.arange(0.1, 0.8,0.1)}
mulNB_model = grid_search(clf_mulNB, parameters, train_features, y_train, n_folds=5, score_func='accuracy')

Best parameter values: {'alpha': 0.5} and best score = 0.87924

In [74]:
clf_mulNB_pred = mulNB_model.predict(test_features)

In [75]:
def show_metrics(y_test,y_pred):
    print(classification_report(y_test, y_pred ))
    display(pd.DataFrame(confusion_matrix(y_test, y_pred), 
                         columns= ['Predicted -ve', 'Predicted +ve'], index = ['Actual -ve', 'Actual +ve']))
    print('The AUC (under ROC curve) score is {}'.format(roc_auc_score(y_test, y_pred)))

In [76]:
show_metrics(y_test, clf_mulNB_pred)

              precision    recall  f1-score   support

           0       0.85      0.88      0.86     12500
           1       0.87      0.84      0.86     12500

    accuracy                           0.86     25000
   macro avg       0.86      0.86      0.86     25000
weighted avg       0.86      0.86      0.86     25000

            Predicted -ve  Predicted +ve
Actual -ve          10962           1538
Actual +ve           1978          10522

The AUC (under ROC curve) score is 0.8593599999999999

### Logistic regression

In [77]:
clf_logreg = LogisticRegression(solver='sag',random_state=42)
parameters = {'C': np.arange(1,11,1)}
logreg_model = grid_search(clf_logreg, parameters, train_features, y_train, n_folds=10, score_func='accuracy')

Best parameter values: {'C': 6} and best score = 0.8976

In [78]:
logreg_pred = logreg_model.predict(test_features)
show_metrics(y_test, logreg_pred)
print(accuracy_score(y_test, logreg_pred))

              precision    recall  f1-score   support

           0       0.89      0.89      0.89     12500
           1       0.89      0.89      0.89     12500

    accuracy                           0.89     25000
   macro avg       0.89      0.89      0.89     25000
weighted avg       0.89      0.89      0.89     25000

            Predicted -ve  Predicted +ve
Actual -ve          11169           1331
Actual +ve           1404          11096

The AUC (under ROC curve) score is 0.8906
0.8906

### Random forest

In [79]:
clf_rf = RandomForestClassifier(random_state=42,n_jobs=-1, min_samples_split=3) 
parameters = {'n_estimators': [100,200,300], 'max_depth': [5,10]}
rfmodel = grid_search(clf_rf, parameters, train_features, y_train, n_folds=10)

Best parameter values: {'max_depth': 10, 'n_estimators': 300} and best score = 0.8388399999999999

In [81]:
rf_pred = rfmodel.predict(test_features)
show_metrics(y_test, rf_pred)

              precision    recall  f1-score   support

           0       0.87      0.81      0.84     12500
           1       0.82      0.88      0.85     12500

    accuracy                           0.84     25000
   macro avg       0.85      0.84      0.84     25000
weighted avg       0.85      0.84      0.84     25000

            Predicted -ve  Predicted +ve
Actual -ve          10104           2396
Actual +ve           1514          10986

The AUC (under ROC curve) score is 0.8436

In [82]:
show_metrics(y_train, rfmodel.predict(train_features))

              precision    recall  f1-score   support

           0       0.92      0.84      0.87     12500
           1       0.85      0.92      0.88     12500

    accuracy                           0.88     25000
   macro avg       0.88      0.88      0.88     25000
weighted avg       0.88      0.88      0.88     25000

            Predicted -ve  Predicted +ve
Actual -ve          10452           2048
Actual +ve            954          11546

The AUC (under ROC curve) score is 0.87992